<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346118699485-arhh7acmg6h9o2atdg58fdtlt0509e97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346118699485-arhh7acmg6h9o2atdg58fdtlt0509e97</string>
	<key>API_KEY</key>
	<string>AIzaSyCtIGmOmOATrkN46ZdTCK1lxkYbu6fqM0c</string>
	<key>GCM_SENDER_ID</key>
	<string>346118699485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Javier.CustomOOH</string>
	<key>PROJECT_ID</key>
	<string>customooh</string>
	<key>STORAGE_BUCKET</key>
	<string>customooh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346118699485:ios:dbe9c88601d715726c9e34</string>
</dict>
</plist>